@model Book

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Dodaj książkę</h2>
<form asp-action="Create" method="post">
    
    <div class="mb-3">
        <label class="form-label" asp-for="Title">Tytuł książki</label>
        <input class="form-control" asp-for="Title">
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    
    <div class="mb-3">
        <label class="form-label" asp-for="Author">Autor</label>
        <input class="form-control" asp-for="Author">
        <span class="text-danger" asp-validation-for="Author"></span>        
    </div>
    
    <div class="mb-3">
        <label class="form-label" asp-for="PageNumber">Ilość stron</label>
        <input class="form-control" asp-for="PageNumber">
        <span class="text-danger" asp-validation-for="PageNumber"></span>        
    </div>
    
    <div class="mb-3">
        <label class="form-label" asp-for="ISBN">ISBN</label>
        <input class="form-control" asp-for="ISBN">
        <span class="text-danger" asp-validation-for="ISBN"></span>        
    </div>
    
    <div class="mb-3">
        <label class="form-label" asp-for="YearOfPublishing">Data wydania</label>
        <input class="form-control" asp-for="YearOfPublishing">
        <span class="text-danger" asp-validation-for="YearOfPublishing"></span>        
    </div>
    
    <div class="mb-3">
        <label class="form-label" asp-for="Publisher">Wydawca</label>
        <input class="form-control" asp-for="Publisher">
        <span class="text-danger" asp-validation-for="Publisher"></span>        
    </div>
    
    <div class="mb-3">
        <button type="submit">Zapisz</button>
    </div>
    
</form>
