@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Kalkulator</h2>
<form method="get" action="/Calculator/Result">
    <div class="mb-3">
        <label class="form-label" for="a">Liczba 1</label>
        <input class="form-control" name="a" id="a" type="number" step="0.01"/>
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="a">Operator</label>
        <input class="form-control" name="op" id="op" type="text"/>
    </div>
    
    <div class="mb-3">
        <label class="form-label" for="a">Liczba 2</label>
        <input class="form-control" name="b" id="b" type="number" step="0.01"/>
    </div>
    
    <div class="mb-3">
        <button class="btn btn-outline-primary" type="submit">Oblicz</button>
    </div>
    
</form>
    