@model Lab0.Models.Publisher

@{
    ViewData["Title"] = "Usuń";
}

<h1>Usuwanie</h1>

<h3>Czy na pewno chcesz usunąć tego wydawcę?</h3>
<div>
    <h4>Publisher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nazwa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Rok założenia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstablishedYear)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PublisherId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
    </form>
</div>